/* tablet */
@media (min-width: 558px) and (max-width: 1017px) {
  body {
    grid-template-columns: 1fr;
  }

  .dessertsList {
    gap: 2rem;
  }

  .DessertItem {
    /* height: inherit; */
    /* margin-bottom: 150px; */
    max-height: 500px;
    max-width: calc(50% - 2rem);
  }
}

/* mobile */
@media (max-width: 557px) {
  html {
    font-size: 87.5%;
  }

  body {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    gap: 1rem;
    background-size: cover;
  }

  main {
    padding: 2rem;
  }

  .dessertsList {
    gap: 2rem;
    justify-content: center;
  }

  .DessertItem {
    margin-bottom: 0;
    max-width: 80%;
    /* max-width: 100%; */
    max-height: 500px;
  }

  aside {
    width: 100%;
    position: relative;
    padding: 1.5rem;
    top: 0;
  }

  .cartInfo {
    width: 100%;
  }

  .DessertItem {
    width: 100%;
  }

  .cartItens li {
    flex-direction: row;
    align-items: flex-start;
    gap: 0.5rem;
  }

  .cartItens li div {
    align-items: center;
  }

  .remove {
    width: 1.5rem;
    height: 1.5rem;
  }

  .Totalprice {
    font-size: 1.25rem;
  }

  .DessertItem footer button {
    /* width: 8.5rem; */
    height: 2.25rem;
  }
}

/* desktop +1500px */
@media (min-width: 1500px) {
  .dessertsList {
    justify-content: center;
    gap: 2rem;
  }

  .DessertItem {
    /* height: inherit; */
    /* margin-bottom: 150px; */
    max-width: calc(25% - 2rem);
  }
}
